.ember-validatable-input {
  &__inputs {
    display: flex;
    position: relative;
    align-items: center;

    input {
      border: 0;
      height: 20px;
      padding-right: 50px;
    }
  }

  &__toggle-type {
    position: absolute;
    right: 20px;
    top: 30%;
    font-size: 10px;
    line-height: 22px;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    cursor: pointer;
  }

  &--is-invalid {
    input {
      box-shadow: inset 0 0 0 1px $red;
    }
  }

  &--is-valid {
    input {
      // box-shadow: inset 0 0 0 1px $green;
    }
  }

  &__error{
    color: $red;
    font-size: 10px;
  }
}

.validatable-input__validation-symbol--valid {
  width: 20px;
  height: 20px;
  margin-left: -34px;
}

.validatable-input__validation-symbol--invalid {
  width: 20px;
  height: 20px;
  margin-left: -35px;
}
