@import 'box-shadow';
@import 'colors';
@import 'fonts';

@import 'components';

.header {
  align-items: center;
  background: $base2;
  border-radius: 1.5px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px 0;
  padding: 0 10px 0 10px;
  @include box-shadow(1px,1px,5px,0, $base03);

  .octocat {
    border: 1px solid $base2;
    border-radius: 25px;
    padding: 8.375px 5px;
    width: 40px;
    @include box-shadow(1px,1px,5px,0, $base03);
  }
}

.main-body {
  align-items: center;
  display: flex;
  font-family: 'Source Code Pro';
  font-weight: $font-weight-regular;
  justify-content: center;

}

.title {
  font-family: 'Source Code Pro', monospace;
  font-weight: $font-weight-semibold;
}
