<div class="ember-validatable-input__inputs">
  {{input
    autocomplete=autocomplete
    classNames=htmlSafeInputClass
    data-test="input"
    focus-out=(action "onFocusOut")
    key-up=(action "onKeyUp")
    maxlength=maxlength
    name=name
    pattern=pattern
    placeholder=placeholder
    type=type
    value=value
  }}
</div>

{{#if showErrors}}
  {{#if hasErrors}}
    <div class="ember-validatable-input__error" data-test-error>{{errors}}</div>
  {{/if}}
{{/if}}
