<header>
  <div class="header">
    <h1 id="title" class="title">ember-validatable-inputs</h1>
    <a target="_blank" rel="noopener" href="https://github.com/HallDJack/ember-validatable-input">
      <img class="octocat" alt="github octocat" src="assets/Octocat.png">
    </a>
  </div>
</header>

<body>
  <div class="main-body">
    {{user-form}}
  </div>
</body>
